.input66 {
    width: 490px;
    
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: dimgray;
  }
  
  .display66 {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 550px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 300px;
    padding: 25px;
  }
  
  .display111 {
    margin: 5px;
    margin-left: 5px;
  }
  
  .display222 {
    margin: 5px;
    margin-left: 5px;
  }
  
  .button4 {
    background-color: royalblue;
    width: 150px;
    transition: none; 
    margin-left: 150px;/* Remove transition effect */
  }
  
  .button4:hover {
    /* Remove hover effect */
    background-color: royalblue;
  }

  @media (300px <= width <= 600px){
    .input66 {
      width: 300px;
      
      padding: 12px;
      border: none;
      border-radius: 4px;
      box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
      outline: none;
      color: dimgray;
    }
    
    .display66 {
      display: flex;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      width: 350px;
      border-radius: 10px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 0px;
      padding: 25px;
    }
    
    .display111 {
      margin: 5px;
      margin-left: 5px;
    }
    
    .display222 {
      margin: 5px;
      margin-left: 5px;
    }
    
    .button4 {
      background-color: royalblue;
      width: 150px;
      transition: none; 
      margin-left: 70px;/* Remove transition effect */
    }
    
    .button4:hover {
      /* Remove hover effect */
      background-color: royalblue;
    }
  
  }
  